h1 {
    color: purple;
}

.grid-container {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px auto;
    grid-gap: 20px;
    justify-content: center;
}

.grid-banner {
    background-color: lightcoral;
    grid-row: 1; 
}

.grid-input {
    background-color: lightgreen;
    grid-row: 2;
}

.grid-list {
    background-color: lightseagreen;
    grid-row: 3;
}

li {
    list-style-type: none;
}